<!-- <!DOCTYPE html> -->
<html>

<head>
    <title>{{html-head-title}} {{#html-head-title}}|{{/html-head-title}} Justin Hellings Life Coaching</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/all.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    <header>
        <div class="nav-container">

            {{#false}} {{! Only show the site name at top of page if it is not also shown in the hero section. }}
            <a id="site-name" href="/">Justin Hellings Life Coaching</a> {{/false}}

            <a id="hamburger">&#9776;</a>
            <nav id="top-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about-life-coaching">About Life Coaching</a></li>
                    <li><a href="/about-justin-hellings">About Justin Hellings</a></li>
                    <li><a href="/prices">Prices</a></li>
                    {{#false}} {{! Let's add a blog when we have at least one post. }}
                    <li><a href="/blog">Blog</a></li>
                    {{/false}}
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>

        {{#is-home-page}}
        <div id="hero">
            <div class="darkening">
                <div class="hero-text">
                    <h1>Justin&nbsp;Hellings Life&nbsp;Coaching</h1>
                    <p class="offer">Allow me to help you to beat stress, achieve a healthy work/life&nbsp;balance, and choose the life goals you really want.</p>
                    <p class="action">Call me now on <a href="tel:07590200990">07590 200 990</a> to book your free session or to find out more.</p>
                </div>
            </div>
        </div>
        {{/is-home-page}} {{^is-home-page}}
        <div id="banner">
            <div class="darkening">
                <div class="banner-text">
                    <h1>Justin&nbsp;Hellings Life&nbsp;Coaching</h1>
                    {{#false}}
                    <p class="offer">Allow me to help you to beat stress, achieve a healthy work/life&nbsp;balance, and choose the life goals you really want.</p>
                    <p class="action">Call me now on <a href="tel:07590200990">07590 200 990</a> to book your free session or to find out more.</p>
                    {{/false}}
                </div>
            </div>
        </div>
        {{/is-home-page}}

    </header>

    <main>
        {{{content}}}
    </main>

    <footer>
        <section id="contact">
            <h2 class="section-title">Get in touch</h2>
            <div class="box contact-text">
                <p>To book a free session, or to find out more, you can contact me by phone or email:</p>
                <ul>
                    <li><span class="fa-stack fa-sm"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-phone fa-stack-1x"></i></span><a href="tel:07590200990">07590 200 990</a></li>
                    <li><span class="fa-stack fa-sm"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-envelope-o fa-stack-1x"></i></span><a href="mailto:info@justinhellings.uk">info@justinhellings.uk</a></li>
                </ul>
                <p>You can also contact me on Twitter but please remember that Twitter conversations are public:</p>
                <ul>
                    <li><span class="fa-stack fa-sm"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span><a href="//twitter/jhellings">@jhellings</a></li>
                </ul>
                <p>If you prefer, you can use the contact form to send me a message...</p>
            </div>
            <div class="box form-container">
                <div id="mail-status">
                    <p id="mail-success" class="status status-success">Thank you. Your message has been sent.</p>
                    <p id="mail-error" class="status status-error">We're sorry but your message could not be sent. Please try again later or use a different contact method.</p>
                    <p id="captcha-error" class="status status-error">Our security check failed. Did you remember to tick the "I'm not a robot" box?</p>
                </div>
                <form action="/mail.php" method="post" id="contact-form">
                    <div class="form-control">
                        <label for="your-name">Your Name</label>
                        <input name="your-name" id="your-name" type="text">
                    </div>
                    <div class="form-control">
                        <label for="your-email">Your Email Address</label>
                        <input name="your-email" id="your-email" type="email">
                    </div>
                    <div class="form-control">
                        <label for="your-message">Your Message</label>
                        <textarea name="your-message" id="your-message" rows="10"></textarea>
                    </div>
                    <div class="g-recaptcha" data-sitekey="6LdodkUUAAAAAFo9pgxBlcI75ry2d2EFuEHCOWJ6"></div>
                    <div class="form-control">
                        <input value="Send" class="submit" type="submit">
                    </div>
                </form>
            </div>
            <p class="copyright">Copyright &copy; Justin Hellings 2018</p>
        </section>
    </footer>

    <script>
        function addHamburgerClick() {
            document.getElementById("hamburger").addEventListener(
                "click",
                function(event) {
                    var menu = document.getElementById("top-menu");
                    var menuStyle = window.getComputedStyle(menu, null);

                    if (menuStyle['display'] == "none") {
                        event.target.textContent = "X";
                        menu.style.display = "unset";
                    } else {
                        event.target.textContent = '\u2630';
                        menu.style.display = "none";
                    }
                },
                false);
        }

        function processQueryString() {
            if (window.location.search != '') {
                var str_pairs = window.location.search.substring(1).split('&');
                var kv_pairs = {};
                for (x of str_pairs) {
                    var strs = x.split('=');

                    // Took a sane way to decode query params from https://stackoverflow.com/a/24417399
                    kv_pairs[strs[0]] = decodeURIComponent(strs[1].replace(/\+/g, '%20'));
                }
                document.getElementById('your-email').setAttribute('value', kv_pairs['your-email']);
                document.getElementById('your-name').setAttribute('value', kv_pairs['your-name']);
                document.getElementById('your-message').textContent = kv_pairs['your-message'];
            }
        }

        function processHash() {
            var loc = document.location;
            if (loc.hash.indexOf("#mail-") === 0) {

                var status = document.getElementById("mail-status");

                if (loc.hash == "#mail-sent") {
                    status.style.border = "solid 2px green";
                    document.getElementById("mail-success").style.display = "unset";
                } else if (loc.hash == "#mail-failed") {
                    status.style.border = "solid 2px red";
                    document.getElementById("mail-error").style.display = "unset";
                } else if (loc.hash == "#mail-captcha") {
                    status.style.border = "solid 2px red";
                    document.getElementById("captcha-error").style.display = "unset";
                }

                loc.hash = "#mail-status";
            }
        }

        function addLocationToContactForm() {
            var hidden = document.createElement('input');
            hidden.setAttribute("type", "hidden");
            hidden.setAttribute("name", "page-location");
            var loc = location.protocol + '//' + location.host + location.pathname;
            hidden.setAttribute("value", loc);
            document.getElementById("contact-form").appendChild(hidden)
        }

        function initAll() {
            addHamburgerClick();
            processQueryString();
            processHash();
            addLocationToContactForm();
        }

        if (document.readyState === "complete") {
            initAll()
        } else {
            window.addEventListener("onload", initAll());
        }

    </script>
</body>

</html>
