<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- A "helper" web page to allow the developer an easy way to view the generated templated.
    Not intended to be seen by real website visitors.  -->
  <head>
    <meta charset="utf-8">
    <title>Browse templates</title>
  </head>
  <body style="padding-left:2em;line-height:2">
    <h1>Browse templates</h1>
    <ul>
      <!-- TODO: Replace manual listing of templates with a PHP script to find
      and list *.template.html -->
      <li><a href="/home.template.html">home.template.html</a></li>
      <li><a href="/page.template.html">page.template.html</a></li>
      <li><a href="/blog.template.html">blog.template.html</a></li>
    </ul>
  </body>
</html>
